@use '../../styles/variables' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.table {
}

.header {
  background-color: $gray;
}

.row {
}

.active {
  background-color: $accent;
}

.icon {
  width: 32px;
  height: 32px;
  fill: none;
  stroke: white;
}